:root {
    --primary-background-color: hsl(0, 0%, 8%);
    --secondary-background-color:hsl(0, 0%, 12%);

    --primary-button-color: hsl(0, 0%, 20%);
    
    --primary-text-color: hsl(0, 0%, 100%);
    --secondary-text-color: hsl(75, 94%, 57%);
}